 .task-name {
    padding: 8px;
    margin: 10px;
    background-color: rgba(221, 164, 164, 0.205);
    border-radius: 5px;
    color: rgba(201, 51, 51, 0.603);
    position: relative;
}


i {
    padding-right: 6px; 
}

hr {
    height: 1px;
    background-color: #88818193;
    border: none;
}

